:root {
  --primary-font: 'sans-serif';
  --secondary-font: 'Amiri';
  --primary-color: hsl(8, 95%, 57%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  position: relative;
}





