.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 7rem 0 !important;
}

.footer p {
  width: 33%;
}

.footer a {
  width: 33%;
  text-align: center;
  color: orangered;
  font-weight: 600;
  text-decoration: none;
}

.footer div {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
}

.footer i {
  font-size: 1.5rem;

  cursor: pointer;

  transition: ease-in 200ms;
}

.footer i:hover {
  color: orangered;

  transform: translateY(-3px);
}
