@media only screen and (max-width: 1500px) {
  /* navbar */
  .navbar__item {
    width: auto;
  }
  .navbar__item:nth-child(2) img {
    height: 50px;
  }
  .navbar__item > .dropdown {
    font-size: 0.9rem;
  }

  /* section 2 */
  .section-2__side:first-child .content {
    font-size: 20px;
  }

  .section-2__side:last-child .content {
    font-size: 40px;
    font-family: var(--secondary-font);
  }

  .section-2 {
    height: 825px;
    padding-bottom: 1rem;
  }

  .section-2__center {
    height: 80%;
  }

  .section-2__center__wrapper {
    width: 65%;
  }

  .section-2__center__footer img {
    width: 90px;
  }

  /* section 4 */
  .section-4__title-job {
    font-size: 20px;
  }

  .section-4__thead {
    height: 50px;
  }

  .section-4__tbody tr {
    height: 50px;
  }

  .section-4__tbody td {
    width: 200px;
  }

  /* section 5 */

  .section-5__item {
    height: 400px;
    justify-content: space-around;
  }
  .section-5__item h2 {
    font-size: 20px;
  }

  .section-5__item img {
    height: 300px;
  }
}

@media only screen and (max-width: 768px) {
  body {
    padding: 1rem;
  }

  .navbar__item:nth-child(2) {
    display: none;
  }

  .navbar__item:nth-child(3) img {
    height: 50px;
  }

  .navbar__item:nth-child(4) {
    display: none;
  }

  .menu {
    width: 50%;
    display: inline-block;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .menu i {
    font-size: 2rem;
  }
}
