.call-me-ctn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 5rem;
}

.call-me {
  width: 500px;
  height: 500px;

  border: 2px dashed #222;
  border-radius: 50%;

  display: flex;
  /* align-items: center; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;

  position: relative;
}

.call-me a {
  font-family: var(--secondary-font);
  color: #000;
  text-decoration: none;
  position: relative;
  display: block;
  font-size: 92px;
}

.call-me a:before {
  content: attr(text-hover);
  position: absolute;
  color: orangered;
  left: 0;
  width: 0;
  transition: width 1s;
  overflow: hidden;
  white-space: nowrap;
}

.call-me a:hover:before {
  width: 100%;
}

.call-me i {
  font-size: 92px;
  color: #111;
  width: 100%;
  padding-left: 80px;
}

@media only screen and (max-width: 818px) {
  .call-me-ctn {
    margin-top: 5rem;
  }

  .call-me {
    width: 300px;
    height: 300px;
  }

  .call-me a {
    font-size: 72px;
  }
}

@media only screen and (max-width: 425px) {
  .call-me-ctn {
    margin-top: 5rem;
  }

  .call-me {
    width: 250px;
    height: 250px;
  }

  .call-me a {
    font-size: 62px;
  }
}
