.footer {
  width: 100%;
  padding: 5rem 0;
}

.footer p {
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 1074px) {
  .footer {
    width: 100%;
    padding: 3rem 0;
  }
}
