@media only screen and (max-width: 320px) {
  .wrapper {
    width: calc(320px - 50px);
    margin: 0 auto;
  }

  .drawer {
    max-width: 100%;
    z-index: 100;
  }

  .drawer a {
    padding: 8px 8px 8px 8px;
    font-size: 18px;
  }

  .section-1__title {
    font-size: 20px;
  }

  .section-2 {
    flex-direction: column;
    height: fit-content;
    padding-bottom: 3rem;
  }
  .section-2__side {
    display: none;
  }
  .section-2__center {
    width: 100%;
    height: 600px;
  }
  .section-2__center__wrapper {
    width: 100%;
    height: 70%;
  }
  .section-2__center__footer img {
    width: 40px;
  }

  .section-2-mobile {
    display: flex;
    justify-content: space-between;
  }

  .section-2-mobile div {
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
  }

  .section-2-mobile section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .section-2-mobile__section-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .section-2-mobile div:last-child {
    align-items: flex-end;
  }

  .section-2-mobile .title {
    font-size: 10px;
    font-family: var(--primary-font);
    color: #999;
  }

  .section-2-mobile .content {
    height: 80px;
    font-size: 14px;
    transition: ease 300ms;
    font-family: var(--secondary-font);
  }

  .section-2-mobile__section-right .content {
    font-size: 24px;
  }

  .section {
    padding-bottom: 3rem;
  }

  .section-title {
    font-size: 2rem;
    margin: 3rem 0;
  }

  .section-content {
    flex-wrap: wrap;
  }

  .section-4__thead {
    height: 20px;
  }
  .section-4__thead p {
    font-size: 10px;
  }

  .section-3__content__item {
    width: 120px;
    height: fit-content;
    padding-bottom: 3rem;
  }

  .section-4__title-job {
    font-size: 12px;
  }

  .section-4__workplace {
    font-size: 10px;
  }

  .section-5 {
    flex-direction: column;
    gap: 3rem;
  }
  .section-5__item {
    width: 100%;
    gap: 1rem;
  }
  .section-5__item img {
    width: 250px;
    height: 250px;
    max-width: 250px;
  }

  .speak {
    font-size: 14px;
  }

  .speaker p:first-child {
    font-size: 10px;
  }

  .speaker p:last-child {
    font-size: 8px;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 20px;
  }

  .call-me {
    width: 250px;
    height: 250px;
  }

  .call-me a {
    font-size: 60px;
  }

  .footer {
    font-size: 12px;
  }
}
