.section {
  width: 100%;
  height: fit-content;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5rem;
}

.section-title {
  font-family: var(--secondary-font);
  font-size: 60px;
  font-weight: 200;

  width: 100%;
  text-align: center;
  margin: 5rem 0;
}

.section-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 1074px) {
  .section-title {
    font-size: 40px;
  }
}

@media only screen and (max-width: 650px) {
  .section-content {
    flex-wrap: wrap;
  }
}
