@import url("./animation.css"); /* Using a url */

.section-3__content__item {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.section-3__content__img-wrapper {
  width: 85%;
  height: 300px;
  border-radius: 500px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.section-3__content__item > p {
  font-size: 20px;
  font-weight: 600;
}

.section-3__content__img-wrapper img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  filter: grayscale(100%);
  transition: ease 300ms;
  cursor: pointer;
}

.section-3__content__img-wrapper img:hover {
  filter: none;
  animation-name: shake;
  animation-duration: 600ms;
}

.section-3__content__img-wrapper p {
  font-size: 3rem;
  font-weight: 200;
  font-family: var(--secondary-font);
}

@media only screen and (max-width: 1074px) {
  .section-3__content__item > p {
    font-size: 16px;
  }

  .section-3__content__img-wrapper img {
    width: 65px;
    height: 65px;
  }

  .section-3__content__img-wrapper p {
    font-size: 1.5rem;
  }

  .section-3__content__img-wrapper {
    height: 230px;
  }
}

@media only screen and (max-width: 818px) {
  .section-3__content__img-wrapper img {
    width: 60px;
    height: 60px;
  }

  .section-3__content__item > p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 650px) {
  .section-3__content__item {
    gap: 1rem;
  }
  .section-3__content__item {
    width: 140px;
    height: fit-content;
    padding: 0;
  }
  .section-3__content__item:nth-child(1),
  .section-3__content__item:nth-child(2),
  .section-3__content__item:nth-child(3) {
    margin-bottom: 3rem;
  }
}
