.section-4__table {
  width: 100%;
  font-family: var(--secondary-font);
}

.section-4-mobile__table {
  display: none;
}

.section-4__table td {
  vertical-align: top;
  text-align: left;
}

.section-4__thead {
  height: 100px;
}
.section-4__thead th {
  text-align: left;
  width: calc(100% / 3);
}
.section-4__thead p {
  font-size: 14px;
  color: #999;
  font-weight: 200;
}

.section-4__tbody {
  width: 100%;
}

.section-4__title-job {
  transition: ease 300ms;
  font-size: 30px;
}

.section-4__workplace {
  font-size: 16px;
  color: #666;
}

.section-4__tbody tr {
  height: 100px;
}

@media only screen and (max-width: 1074px) {
  .section-4__thead {
    height: 60px;
  }

  .section-4__tbody tr {
    height: 40px;
  }

  .section-4__title-job {
    font-size: 20px;
  }
}

@media only screen and (max-width: 818px) {
  .section-4__title-job {
    font-size: 18px;
  }
}

@media only screen and (max-width: 650px) {
  .section-4__table {
    display: none;
  }

  .section-4-mobile__table {
    display: block;
    width: 100%;
  }
  .section-4-mobile__table__year {
    width: 40%;
    height: 130px;
    color: #999;

  }
  .section-4-mobile__table__item-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 130px;
  }
}

@media only screen and (max-width: 475px) {
  .section-4-mobile__table__year {
    width: 40%;
    height: 130px;
  }
  .section-4__title-job {
    font-size: 16px;
  }

  .section-4-mobile__table__item-2 {
    height: 160px;
  }
}


