.section-2 {
  width: 100%;
  height: 1025px;
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid #999;

  margin-top: 5rem;
  padding-bottom: 5rem;
}

.section-2__side {
  width: 20%;
  height: 80%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-2__side__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section-2__side-left .section-2__side__content {
  align-items: flex-end !important;
}

.section-2__side .title {
  font-size: 14px;
  font-family: var(--primary-font);
  color: #999;
}

.section-2__side:first-child .content {
  transition: ease 300ms;
  font-size: 24px;
  font-family: var(--secondary-font);
}

.section-2__side-left .content {
  transition: ease 300ms;
  font-size: 72px;
  font-family: var(--secondary-font);
}

.section-2__center {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.section-2__center__wrapper {
  width: 65%;
  height: 85%;
  border: 2px solid #999;
  border-radius: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.section-2__center__wrapper img {
  width: 84%;
  height: 90%;
  object-fit: cover;
  border-radius: 100vh;
}

.section-2__center__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.section-2__center__footer img {
  width: 130px;
  cursor: pointer;
}

.section-2-mobile {
  display: none;
}

@media only screen and (max-width: 1350px) {
  .section-2__center__footer img {
    width: 100px;
  }
}

@media only screen and (max-width: 1074px) {
  .section-2 {
    margin-top: 2rem;
    height: 800px;
    padding-bottom: 5rem;
  }

  .section-2__side__content {
    gap: 1rem;
  }
  .section-2__side:first-child .content {
    font-size: 18px;
  }

  .section-2__side-left .content {
    font-size: 40px;
  }

  .section-2__side .title {
    font-size: 12px;
  }

  .section-2__center {
    height: 100%;
    justify-content: flex-start;
    gap: 3rem;
  }
  .section-2__center__wrapper {
    width: 70%;
    height: 100%;
  }
  .section-2__center__footer img {
    width: 70px;
  }
}

@media only screen and (max-width: 818px) {
  .section-2 {
    margin-top: 2rem;
    height: 600px;
    padding-bottom: 1rem;
  }

  .section-2__side__content {
    gap: 1rem;
  }

  .section-2__side {
    height: 65%;
  }

  .section-2__center {
    height: 100%;
    justify-content: flex-start;
    gap: 3rem;
  }

  .section-2__center__wrapper {
    width: 70%;
    height: 75%;
  }

  .section-2__center__footer img {
    width: 60px;
  }

  .section-2__side:first-child .content {
    font-size: 16px;
  }

  .section-2__side-left .content {
    font-size: 36px;
  }

  .section-2__side .title {
    font-size: 10px;
  }
}

@media only screen and (max-width: 650px) {
  .section-2 {
    flex-direction: column;
    height: fit-content;
  }
  .section-2__side {
    display: none;
  }
  .section-2__center {
    width: 100%;
    height: 850px;
  }
  .section-2__center__wrapper {
    width: 100%;
    height: 80%;
  }
  .section-2__center__footer img {
    width: 60px;
  }

  .section-2-mobile {
    display: flex;
    justify-content: space-between;
  }

  .section-2-mobile div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
  }

  .section-2-mobile section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .section-2-mobile__section-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .section-2-mobile div:last-child {
    align-items: flex-end;
  }

  .section-2-mobile .title {
    font-size: 12px;
    font-family: var(--primary-font);
    color: #999;
  }

  .section-2-mobile .content {
    height: 80px;
    font-size: 18px;
    transition: ease 300ms;
    font-family: var(--secondary-font);
  }

  .section-2-mobile__section-right .content {
    font-size: 30px;
  }
}

@media only screen and (max-width: 475px) {
  .section-2__center {
    width: 100%;
    height: 750px;
  }

  .section-2-mobile .title {
    font-size: 10px;
  }

  .section-2-mobile .content {
    height: 80px;
    font-size: 16px;
  }
  .section-2-mobile__section-right .content {
    font-size: 26px;
  }
}

@media only screen and (max-width: 425px) {
  .section-2__center {
    width: 100%;
    height: 650px;
  }
  .section-2__center__footer img {
    width: 50px;
  }
}