.section-5__item {
  width: calc(95% / 3);
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
}

.section-5__item img {
  max-width: 400px;
  height: 400px;
  object-fit: cover;
  transition: ease 600ms;
  filter: grayscale(100%);
  border-radius: 50%;
}

.section-5__item:hover img {
  filter: grayscale(0%);
  transform: scale(105%);
}

.section-5__item:hover h2 {
  color: #000;
}

.section-5__item p {
  font-size: 16px;
  color: #666;
  font-family: var(--primary-font);
  text-align: center;
}

.section-5__item h2 {
  font-size: 30px;
  color: #666;
  font-family: var(--primary-font);
  font-weight: 200;
  transition: ease 600ms;
  text-align: center;
}

@media only screen and (max-width: 1350px) {
  .section-5__item {
    justify-content: flex-start;
    gap: 2rem;
  }
  .section-5__item img {
    width: 300px;
    height: 300px;
  }
  .section-5__item h2 {
    font-size: 26px;
  }
}

@media only screen and (max-width: 1074px) {
  .section-5__item img {
    max-width: 230px;
    height: 230px;
  }
  .section-5__item {
    height: fit-content;
    justify-content: start;
    gap: 2rem;
  }
  .section-5__item h2 {
    font-size: 20px;
  }
  .section-5__item p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 818px) {
  .section-5__item img {
    max-width: 180px;
    height: 180px;
  }

  .section-5__item h2 {
    font-size: 16px;
  }
  .section-5__item p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 650px) {
  .section-5 {
    flex-direction: column;
    gap: 3rem;
  }
  .section-5__item {
    width: 100%;
    gap: 1.5rem;
  }
  .section-5__item img {
    width: 280px;
    height: 280px;
    max-width: 280px;
  }
  .section-5__item h2 {
    font-size: 18px;
  }
  .section-5__item p {
    font-size: 14px;
  }
}
